# Import librairie #

In [12]:
import psycopg2
import pandas as pd
from dotenv import load_dotenv
import os

## Charger les variables d'environnement ##

In [13]:
# Charger le .env depuis la racine du projet
from pathlib import Path
dotenv_path = r'C:\Penny\.env'
load_result = load_dotenv(dotenv_path=dotenv_path)
print(f"Chargement .env : {'[OK] Reussi' if load_result else '[ERREUR] Echec'}")

Chargement .env : ✓ Réussi

In [14]:
conn = psycopg2.connect(
    host='pennylane-external.csqwamh5pldr.eu-west-1.redshift.amazonaws.com',
    port=5439,
    dbname='prod',
    user='u_289572',
    password=os.getenv('PENNYLANE_DATA_SHARING_KEY')
)

print("Connexion Redshift etablie")

Connexion Redshift etablie

## Fonction helper : Connexion auto-reconnect ##

In [15]:
def get_active_connection():
    """Retourne une connexion active, la recrée si nécessaire"""
    global conn
    try:
        # Test si la connexion est active
        pd.read_sql("SELECT 1;", conn)
        return conn
    except:
        # Reconnexion si fermée
        print("⟳ Reconnexion Redshift...")
        conn = psycopg2.connect(
            host='pennylane-external.csqwamh5pldr.eu-west-1.redshift.amazonaws.com',
            port=5439,
            dbname='prod',
            user='u_289572',
            password=os.getenv('PENNYLANE_DATA_SHARING_KEY')
        )
        print("✓ Reconnecté")
        return conn

# Utilisation : remplace "conn" par "get_active_connection()" dans tes requêtes
# Exemple :
df = pd.read_sql("SELECT * FROM pennylane.customers LIMIT 1;", get_active_connection())
print(f"Test réussi : {len(df)} ligne(s)")

C:\Users\ycloa\AppData\Local\Temp\ipykernel_65860\3220976796.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT 1;", conn)
C:\Users\ycloa\AppData\Local\Temp\ipykernel_65860\3220976796.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM pennylane.customers LIMIT 1;", get_active_connection())

Test réussi : 1 ligne(s)

## Liste table VAT declaration ##

In [16]:
# Tables vat declarations Pennylane
tables_extended = [
    'vat_declarations'
]

accessible_tables = []

for table in tables_extended:
    try:
        query = f"SELECT * FROM pennylane.{table} LIMIT 1;"
        df = pd.read_sql(query, conn)
        accessible_tables.append({
            'table_name': table,
            'columns': len(df.columns),
            'column_list': ', '.join(df.columns.tolist()[:5]) + '...'
        })
        print(f"✓ {table} ({len(df.columns)} colonnes)")
    except:
        pass

print(f"\n\n=== RÉSUMÉ: {len(accessible_tables)} tables accessibles ===")
df_accessible = pd.DataFrame(accessible_tables)
print(df_accessible.to_string(index=False))

C:\Users\ycloa\AppData\Local\Temp\ipykernel_65860\747864615.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

✓ vat_declarations (10 colonnes)


=== RÉSUMÉ: 1 tables accessibles ===
      table_name  columns                                                          column_list
vat_declarations       10 company_id, company_name, period_start, period_end, vat_frequency...

## Liste colonnes Declarations Pennylane ##

In [17]:
# Afficher les colonnes vat declarations
tables_found = [
    'vat_declarations'
]

for table in tables_found:
    query = f"SELECT * FROM pennylane.{table} LIMIT 0;"  # LIMIT 0 = structure seulement
    df = pd.read_sql(query, conn)
    print(f"\n{'='*60}")
    print(f"Table: pennylane.{table}")
    print(f"{'='*60}")
    print(f"Colonnes ({len(df.columns)}):")
    for i, col in enumerate(df.columns, 1):
        print(f"  {i:2d}. {col}")

============================================================
Table: pennylane.vat_declarations
============================================================
Colonnes (10):
   1. company_id
   2. company_name
   3. period_start
   4. period_end
   5. vat_frequency
   6. is_expected
   7. status
   8. declaration_document_id
   9. declaration_form_name
  10. declaration_amount

C:\Users\ycloa\AppData\Local\Temp\ipykernel_65860\2347447971.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

## Chargement des données declaration ##

In [18]:
# Charger les declarations
query_gl = "SELECT * FROM pennylane.vat_declarations;"
df_vat_declarations = pd.read_sql(query_gl, get_active_connection())

print(f"✓ Données chargées : {len(df_vat_declarations)} lignes, {len(df_vat_declarations.columns)} colonnes")

C:\Users\ycloa\AppData\Local\Temp\ipykernel_65860\3220976796.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT 1;", conn)
C:\Users\ycloa\AppData\Local\Temp\ipykernel_65860\2106779771.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vat_declarations = pd.read_sql(query_gl, get_active_connection())

✓ Données chargées : 25 lignes, 10 colonnes

## Affichage des colonnes disponibles ##

In [19]:
print("Colonnes disponibles :")
for i, col in enumerate(df_vat_declarations, 1):
    print(f"  {i:2d}. {col}")

Colonnes disponibles :
   1. company_id
   2. company_name
   3. period_start
   4. period_end
   5. vat_frequency
   6. is_expected
   7. status
   8. declaration_document_id
   9. declaration_form_name
  10. declaration_amount

## Affichage type colonne ##

In [20]:
print(f"Types de données des {len(df_vat_declarations.columns)} colonnes :\n")
for i, (col, dtype) in enumerate(df_vat_declarations.dtypes.items(), 1):
    print(f"  {i:2d}. {col:<30} → {dtype}")

Types de données des 10 colonnes :

   1. company_id                     → int64
   2. company_name                   → object
   3. period_start                   → object
   4. period_end                     → object
   5. vat_frequency                  → object
   6. is_expected                    → bool
   7. status                         → object
   8. declaration_document_id        → float64
   9. declaration_form_name          → object
  10. declaration_amount             → float64

## Conversion des types de colonnes ##

In [21]:
# Conversion des types
df_vat_declarations = df_vat_declarations.astype({
    'period_start':'datetime64[ns]',
    'declaration_amount':'float64',
    'period_end':'datetime64[ns]'
})

# Convertir toutes les autres colonnes en string
columns_to_string = [col for col in df_vat_declarations.columns if col not in ['period_start','declaration_amount','period_end']]
df_vat_declarations[columns_to_string] = df_vat_declarations[columns_to_string].astype(str)

print("✓ Conversion effectuée\n")
print("Nouveaux types :")
for i, (col, dtype) in enumerate(df_vat_declarations.dtypes.items(), 1):
    print(f"  {i:2d}. {col:<30} → {dtype}")

✓ Conversion effectuée

Nouveaux types :
   1. company_id                     → object
   2. company_name                   → object
   3. period_start                   → datetime64[ns]
   4. period_end                     → datetime64[ns]
   5. vat_frequency                  → object
   6. is_expected                    → object
   7. status                         → object
   8. declaration_document_id        → object
   9. declaration_form_name          → object
  10. declaration_amount             → float64

## Connexion PostgreSQL local ##

In [22]:
# Connexion à PostgreSQL local (utilise les variables du .env)
conn_pg = psycopg2.connect(
    host=os.getenv('POSTGRES_HOST'),
    port=int(os.getenv('POSTGRES_PORT')),
    dbname=os.getenv('POSTGRES_DB'),
    user=os.getenv('POSTGRES_USER'),
    password=os.getenv('POSTGRES_PASSWORD')
)

print("✓ Connexion PostgreSQL établie")
print(f"  Database: {os.getenv('POSTGRES_DB')}")
print(f"  User: {os.getenv('POSTGRES_USER')}")
print(f"  Port: {os.getenv('POSTGRES_PORT')}")

✓ Connexion PostgreSQL établie
  Database: pennylane_data
  User: pennylane_user
  Port: 5433

## Import des données dans PostgreSQL avec SQLAlchemy ##

In [23]:
from sqlalchemy import create_engine

# Créer un engine SQLAlchemy
engine = create_engine(
    f"postgresql://{os.getenv('POSTGRES_USER')}:{os.getenv('POSTGRES_PASSWORD')}@{os.getenv('POSTGRES_HOST')}:{os.getenv('POSTGRES_PORT')}/{os.getenv('POSTGRES_DB')}"
)

print("✓ Engine SQLAlchemy créé")

✓ Engine SQLAlchemy créé

## Export du DataFrame vers PostgreSQL ##

## Export vers PostgreSQL local ##

In [ ]:
# Export DataFrame vers PostgreSQL local
df_vat_declarations.to_sql(
    name='vat_declarations',
    con=engine,
    schema='pennylane',
    if_exists='replace',
    index=False,
    method='multi',
    chunksize=1000
)

print(f"[OK] Table 'vat_declarations' exportee : {len(df_vat_declarations)} lignes")

# Fermer connexions
conn.close()
conn_pg.close()

print("[OK] Connexions fermees")